In [36]:
import pandas as pd
import uuid

In [37]:
df = pd.read_csv("vg_sales.csv")

In [38]:
df.head()

,unique_ID,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,eb5917f25ffb486abb61440f24f1bed8,41.36,28.96,3.77,8.45,82.53
1,8d55ca48a3464c579b04260f8c5b0660,29.08,3.58,6.81,0.77,40.24
2,4dce4fe9696a497699ab30f71939a30c,15.68,12.76,3.79,3.29,35.52
3,adc4a433edb34b9e8ec6dcbbb53fd8c0,15.61,10.93,3.28,2.95,32.77
4,62f6761462d146acbb19becb43113b30,11.27,8.89,10.22,1.00,31.37

In [39]:
df['sales_id'] = [uuid.uuid1().hex for i in range(len(df.index))]

In [40]:
df.head()

,unique_ID,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,sales_id
0,eb5917f25ffb486abb61440f24f1bed8,41.36,28.96,3.77,8.45,82.53,5d82cfa76cff11ebab5600e04c6818d6
1,8d55ca48a3464c579b04260f8c5b0660,29.08,3.58,6.81,0.77,40.24,5d82cfa86cff11eba21e00e04c6818d6
2,4dce4fe9696a497699ab30f71939a30c,15.68,12.76,3.79,3.29,35.52,5d82cfa96cff11eb884b00e04c6818d6
3,adc4a433edb34b9e8ec6dcbbb53fd8c0,15.61,10.93,3.28,2.95,32.77,5d82cfaa6cff11eb915400e04c6818d6
4,62f6761462d146acbb19becb43113b30,11.27,8.89,10.22,1.00,31.37,5d82cfab6cff11eb846900e04c6818d6

In [41]:
df.to_csv('vg_salesID.csv', index=False)