In [1]:
import pandas as pd
import uuid

In [2]:
df = pd.read_csv('vg_scores.csv')

In [3]:
df.head()

,unique_ID,Critic_Score,Critic_Count,User_Score,User_Count
0,eb5917f25ffb486abb61440f24f1bed8,76.0,51.0,8,322.0
1,8d55ca48a3464c579b04260f8c5b0660,NaN,NaN,NaN,NaN
2,4dce4fe9696a497699ab30f71939a30c,82.0,73.0,8.3,709.0
3,adc4a433edb34b9e8ec6dcbbb53fd8c0,80.0,73.0,8,192.0
4,62f6761462d146acbb19becb43113b30,NaN,NaN,NaN,NaN

In [6]:
df['scores_id'] = [uuid.uuid1().hex for i in range(len(df.index))]

In [7]:
df.head()

,unique_ID,Critic_Score,Critic_Count,User_Score,User_Count,scores_id
0,eb5917f25ffb486abb61440f24f1bed8,76.0,51.0,8,322.0,9053d4186cfd11eb8ae100e04c6818d6
1,8d55ca48a3464c579b04260f8c5b0660,NaN,NaN,NaN,NaN,9053d4196cfd11ebb0fc00e04c6818d6
2,4dce4fe9696a497699ab30f71939a30c,82.0,73.0,8.3,709.0,9053d41a6cfd11ebb63900e04c6818d6
3,adc4a433edb34b9e8ec6dcbbb53fd8c0,80.0,73.0,8,192.0,9053d41b6cfd11eb87a500e04c6818d6
4,62f6761462d146acbb19becb43113b30,NaN,NaN,NaN,NaN,9053d41c6cfd11ebb08200e04c6818d6

In [8]:
df.to_csv('vg_scoresID.csv', index=False)